.content span{
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* text-decoration: underline; */
    
    
}

.content ul{
    display: grid;
    grid-template-columns: repeat(2, 462px);
    gap: 50px;
    /* justify-content: center;
    align-items: center; */
    margin-top: 20px;
}

.content ul li{
    padding-left: 40px;
    padding: 40px 0;
    list-style:inside;
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* border: 1px solid white; */
    width:340px;
    height: 200px;
    /* text-align: center; */
    margin: auto;;
    border-radius: 30px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.215);
     backdrop-filter: blur(5px);
     -webkit-backdrop-filter: blur(5px);
     filter: brightness(1.2);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.21) inset;
     font-family: "Carter One", system-ui;
     padding: 20px;

}



/* Personal - section */

/* .dob::after{
    content: ": 26 JULY 2006 TH";
    color: #00ff88;
    padding-left: 44.2%;
}

.height::after{
    content: ": 161 cm";
    color: #00ff88;
    padding-left: 41.1%;
}
.weight::after{
    content: ": 65 Kg";
    color: #00ff88;
    padding-left: 40.5%;
}
.complexion::after{
    content: ": WHEATISH";
    color: #c3ac69;
    padding-left: 34.9%;
}
.zodic::after{
    content: ": CANCER";
    color: #00ff88;
    padding-left: 36.4%;
}
.edu::after{
    content: ":  PURSUING B.VOC(BFSI)";
    color:  #00ff88;
    padding-left: 36.5%;
}
.caste::after{
    content: ":  HINDU ROHIT ";
    color: #00ff88;
    padding-left: 42%;
}
.occupation::after{
    content: ":  STUDENT ";
    color: #00ff88;
    padding-left: 35%;
}
.hobbies::after{
    content: ": FINANCE LEARNER";
    color: #00ff88;
    padding-left: 39.6%;
}

/* family section */

/* 
.f-name::after{
    content: ": VAGHELA PRAVINBHAI SHANTILAL";
    color: rgb(0, 255, 136);
    padding-left: 33.8%;
}
.f-occ::after{
    content: ": LOGISTIC ASSOCIATE OF SAFEXPRESS PVT LTD. ";
    color: rgb(0, 255, 136);
    padding-left: 25%;
}
.f-v::after{
    content: ": MANJUSAR";
    color: rgb(0, 255, 136);
    padding-left: 30.5%;
}
.f-m-h::after{
    content: ": SAMA";
    color: rgb(0, 255, 136);
    padding-left: 20.4%;
}
.m-name::after{
    content: ": LT. HETALBEN ";
    color: rgb(0, 255, 136);
    padding-left: 32.4%;
}
.m-v::after{
    content: ": GORVA";
    color: rgb(0, 255, 136);
    padding-left: 28.6%;
}
.m-m-h::after{
    content: ": GANDHARA";
    color: rgb(0, 255, 136);
    padding-left: 18.5%;
}
.s::after{
    content: ": 1 BROTHER ";
    color: rgb(0, 255, 136);
    padding-left: 38.4%;
} */