#personal {
    transform: translateX(-80px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

#personal.in-view {
    opacity: 1;
    transform: translateX(0);
}

/* list items – reset state */
#personal li {
    opacity: 0;
    transform: translateX(-30px);
    transition: opacity 2s ease, transform 0.5s ease;
}

/* list animate */
#personal.in-view li {
    opacity: 1;
    transform: translateX(0);
}

#personal.in-view li:nth-child(1) { transition-delay: .1s}
#personal.in-view li:nth-child(2) { transition-delay: .2s }
#personal.in-view li:nth-child(3) { transition-delay: .3s }
#personal.in-view li:nth-child(4) { transition-delay: .4s }
#personal.in-view li:nth-child(5) { transition-delay: .5s }
#personal.in-view li:nth-child(6) { transition-delay: .6s }
#personal.in-view li:nth-child(7) { transition-delay: .7s }
#personal.in-view li:nth-child(8) { transition-delay: .8s }
#personal.in-view li:nth-child(9) { transition-delay: .9s }



#family {
    transform: translateY(80px) scale(0.96);
    transition: opacity 0.6s ease, transform 0.6s ease;
    scroll-margin-top: 70px;
}

#family.in-view {
    opacity: 1;
    transform: translateY(0) scale(1);
}


#photos {
    opacity: 0;
    transform: scale(1.1);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

#photos.in-view {
    opacity: 1;
    transform: scale(1);
}



#photos .main-box {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

#photos.in-view .main-box {
    opacity: 1;
    transform: translateY(0);
}


#photos .box {
    opacity: 0;
    transform: translateY(40px) scale(0.9);
    transition:
        opacity 0.6s ease,
        transform 0.6s cubic-bezier(.22,.61,.36,1);
}

#photos .box.box-in-view {
    opacity: 1;
    transform: translateY(0) scale(1);
}


.reveal-item {
    opacity: 0;
    transform: translateY(40px);
    transition:
        opacity 0.6s ease,
        transform 0.6s cubic-bezier(.22,.61,.36,1);
}

.reveal-item.in-view {
    opacity: 1;
    transform: translateY(0);
}

